.btn-xl {
    color: #222;
    
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    width: 100%;
}


#portfolio .portfolio-item .portfolio-link {
    max-width: 200px;
}
.field-validation-error {
   display: block;
   text-align:right;
}